.content-header {
    margin: 30px 0 0 0;
    justify-content: center;
    display: flex;
}

.content-header-flex {
    display: flex;
}
  
.content-header-flex-sub {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: wheat;
}

.content-header-circle-active {
    display: flex;
    background-color: #FF8A00;
    border-radius: 16px 16px 16px 16px;
    min-width: 30px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    color: white;
}

.content-header-circle-inactive {
    display: flex;
    background-color: #ff880020;
    border-radius: 16px 16px 16px 16px;
    min-width: 30px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    color: #FF8A00;
}

.content-header-arrow {
    display: flex;
    min-width: 30px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    color: #FF8A00;
    font-weight: bold;
}

.content-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;
    color: #FF8A00;
}


@media only screen and (max-width: 706px) {
    .content-header-flex-sub {
        padding: 10px 0px;
    }
}