.content-delivery {
    background-color: white;
    padding: 50px;
}

.content-delivery-back {
    margin: 0 0 20px 0;
}

.content-delivery-header {
    display: flex;
    justify-content: space-between;
}

.content-delivery-header-left {
    width: 70%;
}

.content-delivery-header-left-top {
    display: flex;
    justify-content: space-between;
}

.content-delivery-header-left-top-title {
    font-size: 36px;
    font-weight: bold;
    color: #FF8A00;
}

.content-delivery-header-left-top-checkbox {
    display: flex;
    margin: 10px 0 0 0;
}

.content-delivery-header-left-top-checkbox-input {
    margin: 2px 10px 0 0;
}

.content-delivery-header-left-top-checkbox-title {
    margin: 0 50px 0 0;
}

.content-delivery-header-right {
    display: flex;
}

.content-delivery-header-summary-top {
    margin: 3px 150px 0 0;
}

.content-delivery-header-summary-top-title {
    font-size: 24px;
    font-weight: bold;
    color: #FF8A00;
}

.content-delivery-header-summary-top-desc {
    margin: 10px 0 0 0;
    opacity: 60%;
}

.content-delivery-header-summary-bottom-cost-title {
    opacity: 60%;
}

.content-delivery-header-left-middle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
}

.content-delivery-header-left-middle-inputBar-wrong {
    min-width: 400px;
    min-height: 50px;
    margin: 10px 0 0 0;
    border-style: solid;
    border-color: #FF8A00;
    border-width: 2px;
}

.content-delivery-header-left-middle-inputBar-wrong:focus {
    outline: none;
}
.content-delivery-header-left-middle-inputBar-correct {
    min-width: 400px;
    min-height: 50px;
    margin: 10px 0 0 0;
    border-style: solid;
    border-color: #1BD97B;
    border-width: 2px;
    
}
.content-delivery-header-left-middle-inputBar-correct:focus {
    outline: none;
    
}



.content-delivery-header-summary-bottom {
    margin: 200px 0 0 0;
}

.content-delivery-header-summary-bottom-cost {
    display: flex;
    justify-content: space-between;
}

.content-delivery-header-summary-bottom-dropshipping {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.content-delivery-header-summary-bottom-total {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 25px 0;
}

.content-delivery-header-summary-bottom-total-title {
    font-size: 24px;
    color: #FF8A00;
    font-weight: bold;
}

.content-delivery-header-summary-bottom-total-price {
    font-size: 24px;
    color: #FF8A00;
    font-weight: bold;
}

.content-delivery-header-summary-bottom-button {
    min-width: 100%;
    min-height: 50px;
    background-color: #FF8A00;
    border: none; 
    color: white;
    font-weight: bold;
}

.digit {
    color: rgba(0, 0, 0, 0.255)
}

input::-webkit-input-placeholder { /* WebKit browsers */
    line-height:normal;
    text-indent: 10px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    line-height:normal;
    text-indent: 10px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height:normal;
    text-indent: 10px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    line-height:normal;
    text-indent: 10px;
}

.content-delivery-back {
    margin: 0 0 20px 0;
    border: none;
    background-color: white;
    outline: none;
}

.content-delivery-back:active {
    border: none;
    outline: none;
    background-color: white;
    color: #FF8A00;
}

icon {
    float: right;
    position: absolute;
    margin: 20px 0 0 360px;
}

.icon-correct-delivery {
    float: right;
    position: absolute;
    margin: 20px 0 0 360px;
    color: #1BD97B;
}

.icon-wrong-delivery {
    float: right;
    position: absolute;
    margin: 20px 0 0 360px;
    color: #FF8A00;
}

.content-delivery-header-summary-bottom-cost-price {
    font-weight: bold;
}
.content-delivery-header-summary-bottom-dropshipping-price {
    font-weight: bold;
}
.content-delivery-header-summary-bottom-dropshipping-title {
    opacity: 60%;
}

@media only screen and (max-width: 1045px) {
    .content-delivery-header {
         /* background-color: yellow; */
         justify-content: space-between;
         display: flex;
         flex-wrap: wrap;
    }

    .content-delivery-header-left-top-checkbox {
        margin: 30px 0 0 120px;
    }

    .content-delivery {
        background-color: white;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    /* .content-delivery-header-left-top-checkbox {
        margin: 20px 0 0 120px;
    } */

    .content-delivery-header-summary-top-title {
        margin: 50px 0 0 0;
    }

    .content-delivery-header-summary-bottom {
        margin: 30px 0 0 0;
    }
}

@media only screen and (max-width: 731px) {
    .content-delivery-header-left-top {
         /* background-color: yellow; */
        display: block;
    }
    .content-delivery-header-left-top-checkbox {
        margin: 20px 0 0 0;
    }
    .content-delivery-header-left-middle-inputBar-wrong {
        min-width: 250px;
        min-height: 40px;
        margin: 10px 0 0 0;
        border-style: solid;
        border-color: #FF8A00;
        border-width: 2px;
    }
    
    .content-delivery-header-left-middle-inputBar-wrong:focus {
        outline: none;
    }
    .content-delivery-header-left-middle-inputBar-correct {
        min-width: 250px;
        min-height: 40px;
        margin: 10px 0 0 0;
        border-style: solid;
        border-color: #1BD97B;
        border-width: 2px;
        
    }
    .content-delivery-header-left-middle-inputBar-correct:focus {
        outline: none;
    }
    icon {
        float: right;
        position: absolute;
        margin: 18px 0 0 210px;
    }
    .icon-correct-delivery {
        float: right;
        position: absolute;
        margin: 18px 0 0 210px;
        color: #1BD97B;
    }
    
    .icon-wrong-delivery {
        float: right;
        position: absolute;
        margin: 18px 0 0 210px;
        color: #FF8A00;
    }
}


@media only screen and (max-width: 586px) {
    .content-delivery-header-left-middle-inputBar-wrong {
        min-width: 170px;
        min-height: 40px;
        margin: 10px 0 0 0;
        border-style: solid;
        border-color: #FF8A00;
        border-width: 2px;
    }
    
    .content-delivery-header-left-middle-inputBar-wrong:focus {
        outline: none;
    }
    .content-delivery-header-left-middle-inputBar-correct {
        min-width: 170px;
        min-height: 40px;
        margin: 10px 0 0 0;
        border-style: solid;
        border-color: #1BD97B;
        border-width: 2px;
        
    }
    .content-delivery-header-left-middle-inputBar-correct:focus {
        outline: none;
    }
    icon {
        float: right;
        position: absolute;
        margin: 18px 0 0 140px;
    }
    .icon-correct-delivery {
        float: right;
        position: absolute;
        margin: 18px 0 0 140px;
        color: #1BD97B;
    }
    
    .icon-wrong-delivery {
        float: right;
        position: absolute;
        margin: 18px 0 0 140px;
        color: #FF8A00;
    }
    .content-delivery-header-summary-bottom {
        display: flex;
        flex-wrap: wrap;
    }
    .content-delivery-header-summary-bottom-cost {
        display: flex;
        flex-wrap: wrap;
    }
    .content-delivery-header-summary-bottom-cost-price {
        margin-left: 10px;
    }
    .content-delivery-header-summary-bottom-dropshipping-price {
        margin-left: 10px;
    }
    .content-delivery-header-summary-bottom-total-price {
        margin-left: 10px;
    }
    .content-delivery-header-summary-bottom-button {
        min-width: 150px;
    }
}

@media only screen and (max-width: 565x) {
    icon {
        float: right;
        position: absolute;
        margin: 18px 0 0 20px;
    }
    .icon-correct-delivery {
        float: right;
        position: absolute;
        margin: 18px 0 0 20px;
        color: #1BD97B;
    }
    
    .icon-wrong-delivery {
        float: right;
        position: absolute;
        margin: 18px 0 0 20px;
        color: #FF8A00;
    }
}
